.button_info{
  width: auto;
  height: auto;
  background-color: transparent;
  padding: 7px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid grey;
}

.button_info:hover{
  background: rgb(187, 186, 186);
}
.button_info:hover > * {
  color: white
}

.button_info_icon{
  font-size: 20px;
  color: grey
}

.p_info_card{
  width: auto;
  height: auto;
  margin: 0px;
  color: grey;
  padding: 0px 0px 0px 5px;
}
.container_catalog{
  margin-top: 20px;
}
.price_card{
  width: 100%;
  font-size: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
}
.title_card_product{
  width: 100%;
  font-size: 16px;
  text-align: center;
}
.container_button_info{
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.icon_button{
  font-size: 35px;
  padding: 0px;
  background-color: grey;
  border-radius: 50%;
  color: white;
  border: 1px white solid;
  
}

.container_button{
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.loading_component{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row_filter{
  margin-top: 20px;
}
.row_pagination{
  width: 100%;
  display: flex;
  margin-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
}

.img_card{
  max-width: 300px;
  max-height: 300px;
  padding: 20px;
}

.container_img_card{
  width: inherit;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_heard_card{
  position: absolute;
  right: 30px;
  top: 30px;
  border: 2px grey solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.container_heard_card:hover > .heard_card{
  color: rgb(180, 67, 67);
  font-size: 23px;
}

.heard_card{
  color: grey;
  font-size: 18px;
  background-color: transparent;
}

.category{
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgb(239, 235, 235);
}



.ant-col-md-6{
  width: 25%;
}

.ant-card-meta-title{
  overflow-wrap: break-word !important;
}

.container_table_partner{
  display: flex;
  justify-content: center;
  padding: 30px;
}

.tablePartner{
  width: 100%;
}

:where(.css-dev-only-do-not-override-16qxzfl).ant-table-wrapper .ant-table-pagination-right {
  justify-content: center !important;
}